fastapi
uvicorn
pydantic
requests
isodate
python-dotenv

# Google Gemini / GenAI
google-genai

# Optional, but common
typing-extensions

# Auth & Database
motor
pymongo
bcrypt
passlib[bcrypt]
pyjwt
python-multipart
