fastapi
uvicorn
pydantic
requests
isodate
python-dotenv

# LangChain + Google Gemini
langchain-core
langchain-google-genai

# Optional, but common
typing-extensions

# Auth & Database
motor
pymongo
bcrypt
passlib[bcrypt]
pyjwt
python-multipart
